* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}

.title {
   text-align: center;
   color: '#fff';
   position: fixed;
   top: 30px;
   color: #fff;
}

.container {
   display: flex;
   height: 100vh;
}

.sidebar {
   position: fixed;
   width: 300px;
   background-color: #202123;
   color: white;
   height: 100vh;
   z-index: 999;
}

.body {
   position: relative;
   display: flex;
   justify-content: center;
   padding: 50px;
   background-color: #343541;
   left: 300px;
   width: calc(100% - 300px);
}

.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 70%;
   top: 30px;
}

.main {
   overflow: auto;
}

.button {
   border: 0.5px solid hsla(0, 0%, 100%, 0.2);
   margin: 12px;
   padding: 12px;
   cursor: pointer;
   background-color: hsla(240, 9%, 59%, 0.1);
   color: white;
   border-radius: 4px;
   font-weight: bold;
}

.btn {
   border: none;
   border-radius: 0 4px 4px 0;
   background-color: black;
}

.form {
   display: flex;
   align-items: center;
}

textarea {
   width: 100%;
   outline: none;
   border: none;
   border-radius: 3px;
   padding: 15px 15px;
   line-height: 1.5;
   background-color: rgba(64,65,79,1);
   color: white;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   resize: none;
}

textarea::placeholder {
   color: #fff;
}

.user, .ai {
   display: flex;
   padding: 10px;
   margin: 10px 2px;
   border-radius: 5px;
   color: white;
   font-size: 16px;
}

.ai {
   background-color: #53545d;
}

.user {
   background-color: #202123;
}